*:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.hyperlink:visited {
    -fx-text-fill: rgb(0, 149, 230);
}

.columnScoreBlue {
    -fx-alignment: CENTER-RIGHT;
}

.split-pane *.split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: lightgray;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.button {
    -fx-background-radius: 0px;
}

#infoHeader {
    -fx-font-weight: bold;
}

.replay-bin-display-selected {
    -fx-background-color: rgb(230, 230, 230);
}

.filter-popup {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-background-color: whitesmoke;
}