#base {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-border-radius: 0px 0px 10px 10px;
    -fx-border-color: lightgray;
    -fx-border-width: 1.5px;
    -fx-border-color: lightgray;
}