@import "common.css"
@import "constants.css"

#columnScoreBlue {
    -fx-alignment: center-right;
    -fx-padding: 0 8 0 0;
}

.table-row-cell #columnScoreBlue .text {
    -fx-fill: -blue-team-color;
    -fx-font-weight: bold;
}

.column-header#columnScoreBlue .label {
    -fx-alignment: center-right;
}

#columnScoreOrange {
    -fx-padding: 0 0 0 8;
}

.table-row-cell #columnScoreOrange .text {
    -fx-fill: -orange-team-color;
    -fx-font-weight: bold;
}

.column-header#columnScoreOrange .label {
    -fx-alignment: center-left;
}

#replayTable {
    -fx-selection-bar: lightblue;
    -fx-selection-bar-non-focused: lightsteelblue;
}

.split-pane *.split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: lightgray;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.button {
    -fx-background-radius: 0;
}

.comment-editor {
    -fx-padding: 1 3 1 3;
}
